* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/*Styling for main body of Quiz*/

body {
    background-color: #4C6971;
}

.quiz-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background: #ffffff;
    border-radius: 5px;
}

.quiz-box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

#quiz {
    padding: 25px 30px 20px 30px;
    background-color: #ffffff;
}

.question,
.answers {
    padding: 5px;
}

label {
    padding: 5px;
}

/*Styling for results button*/

.get-results {
    padding: 15px;
    display: flex;
    justify-content: center;
}

button {
    font-weight: 500;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #151b1b;
}

button:hover {
    background-color: #20383f;
    color: white;
}

#results {
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-bottom: 20px;
}

/*Styling for Win*/

#win-container {
    display: flex;
}

/*Styling for Lose*/

#lose-container {
    padding: 5px;
}

#lose-text {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

#lose-image {
    cursor: pointer;
}

/*Media Queries*/

@media screen and (max-width: 1920px) {

    .quiz-box {
        width: 800px;



    }

    .question,
    .answers {
        font-size: 25px;
    }

    .quiz-box header {
        font-size: 25px;
        height: 90px;
    }

    .get-results {}

    button {
        font-weight: 500;
        padding: 25px 40px;
        font-size: 20px;
    }

    #win-container {
        padding: 20px
    }

    #win-image {
        height: 500px;
    }

    #win-text {
        font-size: 30px;
    }

    #lose-image {
        width: 500px;
        height: 500px;
    }

    #lose-text {
        font-size: 30px;
    }

}

@media screen and (max-width: 950px) {

    .quiz-box {
        width: 650px;
    }

    .question,
    .answers {
        font-size: 20px;
    }

    #win-text {
        font-size: 25px;
    }
}

@media screen and (max-width: 705px) {

    .quiz-box {
        width: 500px;
    }

    .answers,
    .question {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 530px) {
    .quiz-box {
        width: 400px;
    }

    .quiz {
        font-size: 25px;
    }

    .answers {
        display: flex;
        flex-direction: column;
    }

    #lose-image {
        width: 400px;
        height: 400px;
        display: flex;
    }

}

@media screen and (max-width: 400px) {
    .quiz-box {
        width: 350px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .quiz-box header {
        font-size: 20px;
    }

    #lose-container {
        width: 100px;
    }

    #results {
        justify-content: center;
    }

    #lose-container {
        width: 350px;
        position: relative;
    }

    #lose-image {
        width: 350px;
        height: 350px;
    }

    #lose-text {
        font-size: 25px;
    }

    #win-container {
        display: block;
    }

}

@media screen and (max-width: 320px) {
    .quiz-box {
        width: 300px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

        .quiz-box header {
            font-size: 17px;
        }

        #lose-container {
            width: 100px;
        }
    
        #results {
            justify-content: center;
        }
    
        #lose-container {
            width: 300px;
            position: relative;
        }
    
        #lose-image {
            width: 300px;
            height: 300px;
        }
    
        #lose-text {
            font-size: 20px;
        }

}